<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm fixed-top"
  >
    <div class="container-fluid ms-6 mx-0 pe-0">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img class="w-100" src="../../assets/images/laudatio-high-resolution-logo-color-on-transparent-background.png" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/home']">Feed</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/recognize']">Recognize</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="logout()"
          >
            <a class="nav-link text-dark" [routerLink]="['/home']">Logout</a>
          </li>
        </ul>
        <a class="nav-link" (click)="viewProfile()">
          <img id="profile-picture" [src]="userAvatar" alt="Avatar" />
        </a>
      </div>
    </div>
  </nav>
</header>
