<div *ngIf="everythingLoaded" class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="brown-text">Profile Details</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <img id="profile-picture" [src]="userAvatar"/>
        </div>
    </div>

    <span *ngIf="!editingProfile && !editingPassword">
        <div class="row mt-2">
            <div class="col-12 text-center">
                <div class="fs-1">{{ userName }}</div>
            </div>
        </div>

        <div *ngIf="isCurrentUser" class="row mt-2">
            <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="editProfile()">
                    Edit Profile
                </button>
            </div>
            <div class="col-12 text-center mt-2">
                <button class="btn btn-primary" (click)="changePassword()">
                    Change Password
                </button>
            </div>
            <div class="col-12 text-center mt-2">
                <button class="btn btn-primary" (click)="deleteAccount()">
                    Delete Account
                </button>
            </div>
        </div>
    </span>

    <span *ngIf="editingProfile">
        <div class="row mt-2">
            <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="generateNewAvatar()">
                    Generate New Avatar
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label for="name" class="form-label">
                    Name
                </label>
                <input id="name" name="name" class="form-control" 
                 placeholder="Name" [(ngModel)]="userName" >
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="saveChanges()">
                    Save Changes
                </button>
            </div>
        </div>    
    </span>

    <span *ngIf="editingPassword">
        <div class="row">
            <div class="col-12">
                <label for="oldPassword" class="form-label">
                    Old Password
                </label>
                <input id="oldPassword" name="oldPassword" class="form-control" 
                 placeholder="Old Password" [(ngModel)]="oldPassword" >
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <label for="newPassword" class="form-label">
                    New Password
                </label>
                <input id="newPassword" name="newPassword" class="form-control" 
                 placeholder="New Password" [(ngModel)]="newPassword" >
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="saveChanges()">
                    Save Password
                </button>
            </div>
        </div>    
    </span>
</div>
<div *ngIf="!everythingLoaded && !criticalError" class="text-center"> <!-- FIXME change this to a loading icon -->
    Loading...
</div>
<div *ngIf="criticalError" class="text-center text-red">
    <h1>User {{userName}} does not exist.</h1>
</div>