/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
* {
  font-family: "Eczar Regular";
}

body {
  background-color: #E6B17E;
}

@font-face {
  font-family: "Eczar Regular";
  src: url("./assets/fonts/laudatio-eczar-regular.ttf");
}