<div *ngIf="everythingLoaded" class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="brown-text">Profile Details</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <img id="profile-picture" [src]="userAvatar"/>
        </div>
    </div>

    <span *ngIf="!editingProfile && !editingPassword">
        <div class="row mt-2">
            <div class="col-12 text-center">
                <div class="fs-1">{{ userName }}</div>
            </div>
        </div>

        <div class="row mt-2 mx-auto bio-container">
            <div class="col-12 ">
                <div class="fs-2">Bio:</div>
                <div class="fs-5">{{ userBio }}</div>
            </div>
        </div>

        <div *ngIf="isCurrentUser" class="row mt-2">
            <div class="col-12 text-center mt-4">
                <button class="btn btn-primary me-2" (click)="editProfile()">
                    Edit Profile
                </button>

                <button class="btn btn-primary me-2" (click)="changePassword()">
                    Change Password
                </button>

                <button class="btn btn-primary" (click)="deleteAccount()">
                    Delete Account
                </button>
            </div>
        </div>
    </span>

    <span *ngIf="editingProfile">
        <div class="row mt-2">
            <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="generateNewAvatar()">
                    Generate New Avatar
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label for="name" class="form-label">
                    Name
                </label>
                <input id="name" name="name" class="form-control" 
                 placeholder="Name" maxlength="50" [(ngModel)]="userName" >
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <label for="bio" class="form-label">
                    Bio
                </label>
                 <textarea id="bio" name="bio" class="form-control" 
                 placeholder="Bio" rows="4" maxlength="500" [(ngModel)]="userBio">
                </textarea>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="saveChanges()" [disabled]="disableButton(1)">
                    Save Changes
                </button>
            </div>
        </div>    
    </span>

    <span *ngIf="editingPassword">
        <div class="row">
            <div class="col-12">
                <label for="oldPassword" class="form-label">
                    Old Password
                </label>
                <input id="oldPassword" name="oldPassword" class="form-control" type="password"
                 placeholder="Old Password" maxlength="80" [(ngModel)]="oldPassword" >
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <label for="newPassword" class="form-label">
                    New Password
                </label>
                <input id="newPassword" name="newPassword" class="form-control" type="password"
                 placeholder="New Password" maxlength="80" [(ngModel)]="newPassword" >
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label for="confirmPassword" class="form-label">
                    Confirm Password
                </label>
                <input id="confirmPassword" name="confirmPassword" class="form-control" type="password"
                 aria-describedby="invalid-password" placeholder="Confirm New Password" maxlength="80" 
                 [(ngModel)]="confirmNewPassword" [ngClass]="{'is-invalid': invalidPassword()}">
                 <div id="invalid-password" class="invalid-feedback">
                    Passwords don't match
                </div>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="saveChanges()" [disabled]="disableButton(2)">
                    Save Password
                </button>
            </div>
        </div>    
    </span>
</div>
<div *ngIf="!everythingLoaded && !criticalError" class="text-center">
    Loading...
</div>
<div *ngIf="criticalError" class="text-center text-red">
    <h1>User {{userName}} does not exist.</h1>
</div>