.tag {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 13px;
    border: 1px solid #551E19;
    background-color: #E6B17E;
    margin-left: 7px;
    font-size: 12px;
}

.small-image {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid #551E19;
    background-color: #E6B17E;
}

.hide-element {
    display: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.text-red {
    color: rgb(223, 9, 9);
}

.card {
    background-color: #C56E33;
    color: #551E19;
    border: 2px solid #551E19;
}

.btn.btn-primary {
    color: #551E19;
    background-color: #E6B17E;
    border: none;
}

.btn.btn-secondary {
    color: #551E19;
    background-color: #C56E33;
    border: none;
}

.btn.btn-outline-primary {
    color: #551E19;
    border-color: #E6B17E;
}

.btn.btn-outline-primary:hover {
    background-color: #E6B17E;
}

.brown-text {
    color: #551E19;
}

#comments-section {
    max-height: 250px;
    overflow-y: auto;
}

.close-container {
    position: relative;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.leftright {
    margin-top: 0.7rem;
    margin-left: 0.2rem;
    height: 2px;
    width: 25px;
    position: absolute;
    background-color: #551E19;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    margin-top: 0.7rem;
    margin-left: 0.2rem;
    height: 2px;
    width: 25px;
    position: absolute;
    background-color: #551E19;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #551E19;
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #551E19;
}

.top-spacing {
    margin-top: 1rem;
}

img {
    cursor: pointer;
}

.edit-button {
    max-height: 22px;
}

span.tag {
    margin-top: 0.3rem;
}

.anonymous-image {
    cursor: auto;
}

.example-image {
    float: right;
    height: inherit;
    cursor: auto;
}

.large-example {
    max-width: 17%;
    margin-top: -14%;
    margin-right: 3rem;
}

.medium-example {
    max-width: 18%;
    margin-top: -16%;
    margin-right: 3rem;
}

.small-example {
    max-width: 20%;
    margin-top: -19%;
    margin-right: 2rem;
}

.smallest-example {
    max-width: 26%;
    margin-top: -25%;
}

.no-example {
    display: none;
}

.dropdown-menu.show {
    color: #551E19;
    background-color: #C56E33;
}

.dropdown-item:hover {
    color: #551E19;
    background-color: #E6B17E;
}

.title-spacing {
    margin-top: 0.83rem;
}