.top-spacing {
    margin-top: 80px;
}

footer {
    font-family: "Eczar Regular";
    color: #551E19;
}

.statement {
    margin-top: 1.7rem;
}

.github-logo {
    height: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 1.7rem;
    fill: #551E19;
}

.github-logo:hover {
    height: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 1.7rem;
    fill: #3f1410;
}

.bg-dark {
    background-color: #C56E33 !important;
}