<div *ngIf="everythingLoaded" class="container">
    <div class="d-flex align-items-center my-4">
        <h1 class="brown-text">Recognition Feed</h1>
    </div>

    <div class="card my-5">
        <div class="card-body pb-0">
            <h4 class="card-title">Send a Kudo</h4>
            <p class="card-text">
                A Kudo lets you acknowledge when a coworker does an excellent job, <br/>
                helps you out, or is overall awesome.
            </p>
            <p class="card-text">
                <button class="tag" [routerLink]="['/recognize']">+New Kudo</button>
            </p>
            <!-- <img class="image" src="suhcs18b.png" alt="Image" style="max-width: 40%; height: auto; margin-top: -15%;"> -->
        </div>
    </div>

    <div *ngFor="let kudo of allKudos; let i = index">
        <div class="card my-5"> <!-- Make kudo its own component (??) -->
            <div class="card-body">
                <h6 class="card-title d-flex justify-content-between">
                    <span>
                        <img class="small-image me-2" [src]="kudo.senderAvatarUrl" (click)="viewProfile(kudo, 'sender')"/>
                        <b>{{ kudo.senderName }}</b> recognized
                    </span>
                    <span *ngIf="kudo.senderId == userId" class="close-container"
                    (click)="deleteKudo(kudo.id, i)">
                        <span class="leftright top-spacing"></span>
                        <span class="rightleft top-spacing"></span>
                    </span>
                </h6>
                <p class="card-text">
                    <img class="small-image me-2" [src]="kudo.receiverAvatarUrl" (click)="viewProfile(kudo, 'receiver')"/>
                    <b>{{ kudo.receiverName }}</b>
                    <span *ngIf="kudo.teamPlayer" class="tag"> <i>#🏆teamplayer</i></span>
                    <span *ngIf="kudo.oneOfAKind" class="tag"> <i>#🎲oneofakind </i></span>
                    <span *ngIf="kudo.creative" class="tag"> <i>#🎨creative</i> </span>
                    <span *ngIf="kudo.highEnergy" class="tag"> <i>#🎭highenergy</i> </span>
                    <span *ngIf="kudo.awesome" class="tag"> <i>#🎸awesome</i> </span>
                    <span *ngIf="kudo.achiever" class="tag"> <i>#🏅achiever</i> </span>
                    <span *ngIf="kudo.sweetness" class="tag"> <i>#🍪sweetness</i> </span>
                </p>
                <h5>{{ kudo.title }}</h5>
                <p class="card-text">
                    {{ kudo.message }}
                </p>
            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row">
                        <div class="ps-0" [ngClass]="{
                            'hide-element': isXsViewport(),
                            'col-1': isMdViewport()
                        }">
                            <img class="small-image" [src]="userAvatar" (click)="viewProfile('', '')"/>
                        </div>
                        <div [ngClass]="{
                            'col-9 p-0': isXsViewport(),
                            'col-10': isMdViewport()
                        }">
                            <input class="form-control" placeholder="Add comment" type="text"
                            id="comment" name="comment" maxlength="200" [(ngModel)]="commentMessage[i]" />
                        </div>
                        <div [ngClass]="{
                            'col-3': isXsViewport(),
                            'col-1': isMdViewport()
                        }">
                            <input class="btn btn-primary" type="submit" value="Post"
                            [disabled]="activateButton(i)" (click)="addComment(kudo.id, i)" />
                        </div>
                    </div>
                </div>
                <div *ngIf="hasComments[i]">
                    <div class="mt-2" *ngIf="!showComments[i]">
                        Show Comments
                        <button class="btn btn-default pt-0 ps-0" type="button" 
                        (click)="activateComments(i)">
                            <span class="right arrow"></span>
                        </button>
                    </div>
                    <div class="mt-2" *ngIf="showComments[i]">
                        Hide Comments
                        <button class="btn btn-default pt-0 ps-1" type="button" 
                        (click)="activateComments(i)">
                            <span class="down arrow"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="showComments[i]" id="comments-section">
                <div *ngFor="let comment of allComments; let j = index">
                    <div *ngIf="comment.kudoId === kudo.id">
                        <div class="card-footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="row">
                                            <div [ngClass]="{
                                                'col-2': isXsViewport(),
                                                'col-1': isMdViewport()
                                            }">
                                                <img class="small-image" [src]="comment.senderAvatar" (click)="viewProfile(comment, 'comment')"/>
                                            </div>
                                            <div [ngClass]="{
                                                'col-10': isXsViewport(),
                                                'col-11': isMdViewport()
                                            }">
                                                <div class="d-flex justify-content-between">
                                                    <b>{{ comment.senderName }}</b>
                                                    <div *ngIf="comment.senderId == userId" class="me-3">
                                                        <span (click)="editComment(j)">
                                                            <img class="edit-button" src="../../assets/images/edit-button.png"/>
                                                        </span>
                                                        <span class="close-container" (click)="deleteComment(comment.id, kudo.id, i)">
                                                            <span class="leftright"></span>
                                                            <span class="rightleft"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div *ngIf="!editingComment[j]">
                                                    <b>{{ comment.message }}</b>
                                                </div>
                                                <div *ngIf="editingComment[j]">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div [ngClass]="{
                                                                'col-9 p-0': isXsViewport(),
                                                                'col-11': isMdViewport()
                                                            }">
                                                                <input class="form-control" placeholder="Add comment" type="text"
                                                                id="comment" name="comment" maxlength="200" [(ngModel)]="comment.message" />
                                                            </div>
                                                            <div [ngClass]="{
                                                                'col-3': isXsViewport(),
                                                                'col-1': isMdViewport()
                                                            }">
                                                                <input class="btn btn-primary" type="submit" value="Update"
                                                                [disabled]="activateUpdateButton(comment.message)" (click)="updateComment(comment.id, kudo.id, comment.message, j)" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!everythingLoaded && !criticalError" class="text-center"> <!-- FIXME change this to a loading icon -->
    Loading...
</div>
<div *ngIf="criticalError" class="text-center text-red">
    <h1>Critical error! Please logout and try again.</h1>
</div>