.logo-width {
    width: 100%;
    max-width: 540px;
}

.link-text {
    cursor: pointer;
}
  
.link-text:hover {
    color: #C56E33;
}

.btn.btn-outline-primary {
    color: #551E19;
    border-color: #C56E33;
}

.btn.btn-outline-primary:hover {
    background-color: #C56E33;
}

.btn.btn-primary {
    background-color: #E6B17E;
    border: none;
    color: #551E19;
}

::ng-deep .modal-content {
    background-color: #E6B17E;
    color: #551E19;
}

::ng-deep .modal-header, .modal-footer {
    border: none;
}

#logo-spacing {
    margin-top: 24vh;
}

#about-spacing {
    margin-top: 8vh;
    margin-bottom: 10vh;
}

#inspiration-spacing {
    margin-top: 8vh;
    margin-bottom: 10vh;
}

hr {
    border: none !important;
    opacity: 1 !important;
    height: 2px;
    background: #C56E33;
    margin: 0;
}

.container {
    color: #551E19;
}

.transition-effect {
    opacity: 0;
    transform: scale(1.5);
    margin-bottom: 51vh;
    transition: opacity 2s, transform 2s, margin-bottom 2s;
    animation: fade-in 2s forwards;
}
  
@keyframes fade-in {
    to {
      opacity: 1;
      transform: scale(1);
      margin-bottom: 31vh;
    }
}

* {
    overflow: hidden;
}