a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#profile-picture {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #551E19;
}

.ms-6 {
  margin-left: 5rem;
}

nav {
  background-color: #E6B17E;
  border-bottom: 1px solid #551E19;
}

.navbar-brand {
  width: 100px;
}

img {
  cursor: pointer;
}

* {
  color: #551E19 !important;
}