.no-resize {
    resize: none;
}

.btn.btn-outline-primary {
    border-width: 3px;
    border-radius: 1.2rem;
    border-color: #C56E33;
    color: #551E19;
    --bs-btn-active-bg: #C56E33;
}

.brown-text {
    color: #551E19;
}

.btn.btn-primary {
    color: #551E19;
    background-color: #C56E33;
    border: none;
}

::ng-deep .dropdown-menu.show {
    background-color: #E6B17E;
}

::ng-deep .dropdown-item.active {
    color: #551E19;
    background-color: #C56E33;
}